@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Great+Vibes&family=Julius+Sans+One&family=Kaushan+Script&family=Montserrat:wght@200;300;400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Poiret+One&family=Sacramento&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: small;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --h1Font: 2rem;
  --font3rem:3rem;
  --font1rem:1rem;
  --font1-5rem:1.5rem;
  --font-light:white
  --font-Great Vibes:'Great Vibes', cursive;
  --font-JuliusSansOne:'Julius Sans One', cursive;
  --font-PoiretOne:'Poiret One', cursive;
  --font-Sacramento:'Sacramento', cursive;
  --font-PlayfairDisplay: 'Playfair Display', cursive;
  --font-KaushanScript: 'Kaushan Script', cursive;
  --fontColor:#242424;

}


a:hover {
  color: #535bf2;

}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.logo {
  /* width: 7rem; */
  font-family: var(--font-KaushanScript);
  font-size: var(--h1Font);
  color: var(--fontColor);

}
.homepage {
  font-family: var(--font-PlayfairDisplay);
  display: flex;
  justify-content: flex-start;
  margin: 2%;
  border-bottom: inset;
  font-size: var(--h1Font);
}
.HomeView {
  display: grid;
  grid-template-columns: 1fr;
  margin-inline: 2%;
}

.MenSection{
  display: flex;
  align-items: center;

}
.Accessories {
  display: grid;
  grid-template-columns: 1fr 1fr;
margin-top: 2%;
width: 100%;
background-color: #f3efe3;


}
.GridContainer{
  display: grid;
  grid-template-columns: 1fr;
  background-color: #feb14d;
  /* // height:"600px", */
  gap: 10px;
}
.GridColumns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
color: var(--fontColor);
  border-radius: 10px;
  margin: 2%;
  /* height:500px; */
  /* border:1px solid black */
}
.GridColumns >h1{
  font-size: var(--font1-5rem);
  font-family: var(--font-PlayfairDisplay);

  padding: 1%;
}
.GridColumns > p{
  padding: 1%;
  font-size: var(--font1rem);
  font-family: var(--font-PlayfairDisplay);
  margin-bottom: 1%;
}

.GridColumImage{
  display:none;
  height:500px
}
.deals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* height: 480px; */
  padding: 2%;
  border-radius: 6px;
}
.HomeviewCard {
  margin-inline: 2%;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
 padding: 2%;
  /* height: 100vh; */
}
.productImage {
  width: 100%;
  height: 300px;
  object-fit: contain;
  border-radius: 6px;
}

.ProductMain {
  display: grid;
  margin: 2%;

  grid-template-columns: 1fr;
}
.Product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  overflow: hidden;
  color: #213547;
  padding: 2%;
  border-radius: 6px;

  margin: 2%;
}
.ProductH1{
  font-family: var(--font-PlayfairDisplay);
  font-weight: 600;
}
.ProductSingleViewCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
.SingleViewImage {
  max-width: 60%;
  transition: transform 0.9s; 
  border-radius: 10px;
}
.SingleViewImage:hover {
  transform: scale(1.1); 

}
.ScrollingCardImage{
  max-width: 50%;
  padding: 2%;
}
.SingleViewCategory {
  border-bottom: inset;
  font-family: var(--font-PlayfairDisplay);
  font-weight: 700;
  font-size: var(--h1Font);

  padding: 2%;
}
.ProductDes{
  font-family: var(--font-JuliusSansOne);
  font-size: var(--font1-5rem);
  font-weight: 600;
}
.productSize{
  font-family: var(--font-JuliusSansOne);
  font-size: var(--font1rem);
}
.ReviewContainer{
  font-family: var(--font-PlayfairDisplay);
}
.SingleViewDescription {
  text-transform: capitalize;
  border-bottom: inset;
  padding: 1%;
  font-family: var(--font-PlayfairDisplay);
  font-size: 1.7rem;

}
span{
font-size:var(--font1rem);
}
.ReviewContainer {

  margin: 2%;
  border-radius: 6px;
  padding: 2%;
  width: 100%;

  
}
.ReviewBundle{
display:flex;
justify-content: space-evenly;
}
.AddToBagFullWidth{
  display: none;
}

.ReviewArticle {
  padding: 0;
}

.checkout {
  width: 100%;
  margin-inline: 2%;
  padding:2%;
}
.checkout >h1{
  font-family: var(--font-JuliusSansOne);
  font-size: var(--h1Font);
}
.TotalPrice{
  font-family: var(--font-PlayfairDisplay);
 font-weight: 600;
 font-size: var(--h1Font);
}

.inp {
  margin: 2%;
}
.checkoutView {
  display:flex;
border-bottom: inset;
  padding: 4%;
  border-radius: 6px;
}
.checkoutView > img{
  max-width: 15%;
  object-fit: contain;
}
.checkoutView > h1,
h2,
span {
  padding-inline: 1%;
  font-weight: 600;
}
.check {
  position: sticky;

  top:1px;
  width: 100%;
  overflow: scroll;
}
.DealsH1{
  font-size: var(--h1Font);
}
.ContactUs{
background-color: #242424;
color: #f9f9f9;

}
.ContactUSH1 {
  padding: 3%;
  display: flex;
  justify-content: flex-start;
  font-size: var(--h1Font);
  font-family: var(--font-JuliusSansOne);
  
 
}
.ContactUSForm{
  /* border: 1px solid white; */
  padding: 2%;
  width:100%;


}
.ContactImage{
  display:none

}
.ContactBundle{
display: flex;
justify-content: space-evenly;
}
.Form-Label{
width:12%
}
.Form{
  display: flex;
  justify-content: 
  space-around;  
    align-items: center;
    gap:10px;
    padding: 1%;
  
    
}
.Form > textarea{
  width:100%;
  color: #1a1a1a;

  
}
.SendButton{
  /* border:1px solid white; */
  background-color: #1a1a1a;
  padding: 2% 10%;
}
.footerMain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #bebdbd;
  padding: 2%;
  width: 100%;
  color: #1a1a1a;
}

@media only screen and (min-width: 600px) {
  .HomeView {
    grid-template-columns: 1fr 1fr;
  }
  .ProductMain {
    grid-template-columns: 1fr 1fr;
  }
  :root {
    font-size: x-large;
  }
}
@media only screen and (min-width: 920px) {
  .HomeView {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .ProductMain {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .ProductSingleViewCard {
    display: grid;
    grid-template-columns:  2fr 2fr ;

  }
  :root {
    font-size: medium;
  }
  .ReviewContainer {
    width: 100%;
  }
  .form{
    flex-direction: row;
  }
  .ContactImage{
    display: block;
    width:70%;
  
}
.ContactUSForm{
  width:100%
}
.GridContainer{
  grid-template-columns: 1fr 1fr;
}
.GridColumImage{
  display: inline;
}
.GridColumns >h1{
font-size: var(--font3rem);
color: #1a1a1a;
}
.GridColumns>p{
font-size: var(--font1-5rem);
color: #1a1a1a;

}
}
@media only screen and (min-width: 1220px) {
  .HomeView {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .ProductMain {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .AddToBagFullWidth{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top:10%;
    width: 30%;
    padding: 1%;
    margin-inline: 2%;
    height:400px;
    border-radius: 6px;
    border:1px solid black;
  
  }
}

  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
    .logo{
      color: #242424;
    }
  }
